.careers {
    padding: 100px 20px;
    text-align: center;
}

.job-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* CARD */
.job-card {
    width: 240px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.job-card:hover {
    transform: translateY(-5px);
}

/* SKILLS (HIDDEN) */
.skills {
    display: none;
    margin-top: 10px;
    text-align: left;
}

.skills li {
    font-size: 14px;
}

/* FORM */
.application-form {
    margin-top: 50px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

/* INPUT */
.application-form input,
.application-form select,
.application-form textarea {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
}

/* BUTTON */
.application-form button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
}

/* FILE */
.file-label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 500;
}

input[type="file"] {
    border: 1px solid #ccc;
    padding: 8px;
}