* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#splash {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 250px;
    filter: drop-shadow(0 0 20px #00f);
    animation: zoomFade 0.75s ease forwards;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    padding: 60px 20px;
    text-align: center;
}

#hero {
    background: #f7f7f7;
    padding: 100px 20px;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn-primary, .btn-secondary {
    padding: 12px 25px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #495057;
}


@keyframes zoomFade {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    70% {
        transform: scale(4); 
        opacity: 1;
    }
    100% {
        transform: scale(6); 
        opacity: 0;
    }
}


#main-content {
    display: none;
    text-align: center;
    margin-top: 50px;
    color: black;
}